@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Rubik:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-font: 'Inter', sans-serif;
  --phone-fond: 'Rubik', sans-serif;
}

html {
  font-size: 10px;
}

body {
  background-image: url(BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  background-color: rgb(10, 7, 21);
  position: relative;
  padding-left: 90px;
  font-family: var(--base-font);
}
  
.header {
  position: fixed;
  top: 40px;
  left: 90px;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
 
.main {
  max-width: 605px;
}

.main__title {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 150%;
  margin-bottom: 29px;
  color: #FFFFFF;

  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn-sub {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.main__subtitle {
  font-weight: 400;
  font-size: 2rem;
  line-height: 120%;
  color: rgba(210, 210, 210, 0.9);
  margin-bottom: 51px;

  opacity: 0;
  animation-name: fadeIn-sub;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-fill-mode: both;
}


.email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 56px;
  width: 428px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 70px;
  padding: 4px;
  position: relative;
}

.email:hover,
.email:focus,
.email:active {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05);
}

.input {
  border: transparent;
  background: transparent;
  padding-left: 24px;
  color: #FFFFFF;
  position: relative;
  z-index: 10;
}

.input::placeholder {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.5);
}

.input:active,
.input:hover,
.input:focus {
  outline: 0;
  outline-offset: 0;
}

.button {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 171%;
  color: #0F101E;
  background: #FFFFFF;
  border-radius: 64px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: all .2s ease;
}

.button:hover {
  color: #5300C9;
}

.button:active,
.button:focus {
  box-shadow: 0 0 0 2px #B384F5;
}

@keyframes fadeIn-wrap {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.wrapper {
  position: relative;

  opacity: 0;
  animation-name: fadeIn-wrap;
  animation-duration: 4s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

@keyframes fadeIn-email-border {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.email-border {
  height: 56px;
  width: 428px;
  top:0;
  left:0;
  border-radius: 8px;
  background-color: rgb(10, 7, 21);
  position: absolute;
  border-radius: 70px;
  overflow: hidden;

  opacity: 0;
  animation-name: fadeIn-email-border;
  animation-duration: 4s;
  animation-delay: 5s;
  animation-fill-mode: both;
}


.email-border::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 700px;
  top: -300px;
  left: 150px;
  background: linear-gradient(#00ccff, #d400d4);
  animation: animate 4s linear infinite;
}

.email-border::after {
  content: "";
  position: absolute;
  inset: 4px;
  background-color: rgb(10, 7, 21);
  border-radius: 70px;
}

@keyframes animate
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(350deg);
  }
}

@media screen and (max-width: 1100px) {
  body {
    background: url(BG-Phone.png) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 16px;
    margin-top: 160px;
    font-family: var(--phone-fond);
 }
}

@media screen and (max-width:530px) {
  .header {
    top: 30px;
    left: 16px;
  }

  .main {
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main__title {
    font-weight: 500;
    font-size: 2.8rem;
    text-align: center;
    padding: 0 40px;
    margin-bottom: 29px;
  }

  .main__subtitle {
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 40px;
    text-align: center;
  }

  
  .wrapper,
  .email-border,
  .email {
    max-width: 360px;
    width: 100%;
  }

  .input {
    max-width: 360px;
    width: 100%;
  }
}